<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/laks"
        android:label="@string/app_name"
        android:roundIcon="@drawable/laks"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LogIn"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".AddNewPolicy"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Display"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".EditPolicy"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ViewPolicy"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>